body {
    background: rgb(63, 63, 63);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.formulario {
    padding: 50px;
    width: 90%;
    background: rgb(63, 63, 63);
    color: white;
}

.formulario_input {
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.formulario_submit {
    background: rgb(0, 0, 0);
    padding: 20px 20px;
    width: 50%;
    margin: 20px 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}